<div class="form-container">
  <h2>Registrar Nueva Cita</h2>

  <form (ngSubmit)="guardarCita()" #citaForm="ngForm">
    <div class="dropdowns">
      <div class="form-group">
        <label>Paciente</label>
        <select name="idPaciente" [(ngModel)]="nuevaCita.idPaciente" required>
          <option value="" disabled>Seleccione un paciente</option>
          @for (p of pacientes; track p.id_paciente) {
            <option [ngValue]="p.id_paciente">{{ p.nombre }}</option>
          }
        </select>
      </div>

      <div class="form-group">
        <label>Médico</label>
        <select name="idMedico" [(ngModel)]="nuevaCita.idMedico" required>
          <option value="" disabled>Seleccione un médico</option>
          @for (m of medicos; track m.idMedico) {
            <option [ngValue]="m.id_medico">{{ m.nombre }} - {{ m.especialidad }}</option>
          }
        </select>
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <label>Fecha</label>
        <input type="date" name="fecha" [(ngModel)]="nuevaCita.fecha" required />
      </div>

      <div class="form-group">
        <label>Hora</label>
        <input type="time" name="hora" [(ngModel)]="nuevaCita.hora" required />
      </div>
    </div>

    <div class="actions">
      <button type="button" class="btn-cancel" routerLink="/citas" >Cancelar</button>
      <button type="submit" class="btn-save" [disabled]="!citaForm.valid">Guardar Cita</button>
    </div>
  </form>
</div>
