<nav class="navBar">
  <div class="navBar-logo">
    <img src="logo.png" alt="Logo" />
    <h1>Clínica Lima del Mar</h1>
  </div>
  <div class="navBar-links">
    <a routerLink="/" routerLinkActive="active">Dashboard</a>
    <a routerLink="/pacientes" routerLinkActive="active">Pacientes</a>
    <a routerLink="citas" routerLinkActive="active">Citas</a>
    <a routerLink="/medicos" routerLinkActive="active">Médicos</a>
    <a routerLink="/reportes" routerLinkActive="active">Reportes</a>
  </div>
</nav>
